<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.navlog.calculator"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher3"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.navlog.activities.MainNavLogActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_main_nav_log"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.navlog.activities.LogInOrRegisterActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_log_in_or_regiister"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.navlog.activities.NewFlightActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_new_flight"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.navlog.activities.AndroidDetechTouch"
            android:label="@string/title_activity_android_detech_touch" >
        </activity>
        <activity
            android:name="com.navlog.activities.AndroidDetechTouchActivity"
            android:label="@string/title_activity_android_detech_touch" >
        </activity>
        <activity
            android:name="com.navlog.activities.MapActivity"
            android:label="@string/title_activity_map" >
        </activity>
        <activity
            android:name="com.navlog.activities.MapDownloadActivity"
            android:label="@string/title_activity_map_download" >
        </activity>
        <activity
            android:name="com.navlog.activities.CalculationsActivity"
            android:label="@string/title_activity_calculations" >
        </activity>
        <activity
            android:name="com.navlog.activities.AirplaneListActivity"
            android:label="@string/title_activity_airplane_list" >
        </activity>
        <activity
            android:name="com.navlog.activities.AirplaneProfileActivity"
            android:label="@string/title_activity_airplane_profile" >
        </activity>
    </application>

</manifest>